<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{object_list.title}}</title>
</head>
<body>

{% block header_block %}
<header><a href="/"><h1>{{object_list.title}}</h1></a></header>
{% include "includes/inc__menu.html" %}
{% if object_list.user %}
<a href="/user/">{{ object_list.user.name }}</a> |
    <a href="/signout/">Sign Out</a>{% if object_list.user.super %} | <a href="/admin/">Admin</a>{% endif %}
{% else %}
<a href="/signin/">Sign In</a> |
    <a href="/signup/">Register</a>
{% endif %}
    <br>
{% endblock %}

<maintext>
{% block mid_block %}
{% endblock %}
</maintext>

<footer>
{% block foot_block %}
{% endblock %}
</footer>
</body>
</html>
