{% extends 'base.html' %}


{% block mid_block %}
    <a href="/create-category/">Create category</a> |
    <a href="/create-course/">Create course</a>
    <br>
    {% if object_list.categories %}
        {% for category in object_list.categories %}
            <h2><a href="/online-courses/{{ category.name }}/">{{ category.name }}</a></h2>
            <p>
                {% if category.courses %}
                    {% for course in category.courses %}
                        <a href="/online-courses/{{ category.name }}/{{ course.name }}/">{{ course.name }}</a>
                    {% endfor %}
                {% else %}
                    No courses available...
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>
            {{object_list.content}}
        </p>
    {% endif %}

{% endblock %}