{% extends 'base.html' %}


{% block mid_block %}
    <a href="/create-category/">Create category</a> |
    <a href="/create-course/">Create course</a>
    <br>
    {% if object_list.categories %}
        {% for category in object_list.categories recursive %}
            {{ '&nbsp;&nbsp;'* (loop.depth-1) }}{{ category.name }}<br>
            {% if category.courses %}
                {% for course in category.courses %}
                    {{ '&nbsp;&nbsp;'* (loop.depth) }}{{ course.name }}<br>
                {% endfor %}
            {% else %}
                    {{ '&nbsp;&nbsp;'* (loop.depth) }}No courses here yet...<br>
            {% endif %}
            {% if category.children %}
                {{ loop(category.children) }}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>
            {{object_list.content}}
        </p>
    {% endif %}

{% endblock %}