{% extends 'base.html' %}


{% block mid_block %}

    {% if object_list.categories %}
        {% for category in object_list.categories %}
            <h2>{{ category.name }}</h2>
            <p>
                {% if category.courses %}
                    {% for course in category.courses %}
                        {{ course.name }}
                    {% endfor %}
                {% else %}
                    No courses available...
                {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>
            {{object_list.content}}
        </p>
    {% endif %}


<form action="/online-courses/create-category/" method="post">
  <div>
    <label>Category name:</label>
    <input name="name" value="">
  </div>
  <div>
    <label>Parent category:</label>
    <input name="parent" value="">
  </div>
  <div>
    <button>Create</button>
  </div>
</form>

{% endblock %}