{% extends 'base.html' %}


{% block mid_block %}

  <form action="/create-category/" method="post" enctype="text/plain">
    {% for field in object_list.form %}
      {% if field == 'parent' %}
          <div>
          <label>Parent category:</label>
          <select name="parent">
        {% if object_list.categories %}
          {% for category in object_list.categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        {% endif %}
            <option value="0">None</option>
            </select>
            </div>
      {% else %}
      <div>
        <label>{{ field.capitalize() }}</label>
        <input name="{{ field }}" value="">
      </div>
      {% endif %}
    {% endfor %}
    <div>
      <button>Create</button>
    </div>
  </form>

{% endblock %}