{% extends 'base.html' %}


{% block mid_block %}
{% if object_list.path == "/user/edit/" %}
    <form action="{{ object_list.path }}" method="post" enctype="text/plain">
        {% if object_list.user_details %}
            {% for field in object_list.form %}
                {% if 'password' in field %}

                {% else %}
                    <div>
                    <label>{{ field.replace('_', ' ').capitalize() }}</label>
                      <input name="{{ field }}" value="{{ object_list.user_details[field] }}" required
                        {% if field == 'name' or '_date' in field %}readonly{% endif %}/>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div>
          <button>Submit</button>
        </div>
      </form>

{% elif object_list.path == "/user/edit/pass/" %}
    <form action="{{ object_list.path }}" method="post" enctype="text/plain">
        <input type="hidden" name="name" value="{{ object_list.user_details.name }}">
        <div>
        <label>Old Password</label>
          <input name="pass_check" type="password" value="" required />
        </div>
        <div>
            <label>New Password</label>
              <input name="pass1" type="password" value="" required />
        </div>
        <div>
            <label>Repeat Password</label>
              <input name="pass2" type="password" value="" required />
        </div>
        <div>
          <button>Submit</button>
        </div>
    </form>
{% else %}
    {% if object_list.form %}
            {% for field in object_list.form %}
                <div>
                    {{ field.capitalize() }}:&nbsp{{ object_list.user_details[field] }}
                </div>
            {% endfor %}
                <div>
                    Password:&nbsp<a href="{{ object_list.path }}edit/pass/">Change</a>
                </div>

                <button onclick="window.location.href='{{ object_list.path }}edit/';">
                Edit
                </button>

    {% endif %}
{% endif %}
{% endblock %}